*, *:before, *:after {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    padding-top: 120px;
    background: #e3e3e3;
    color: #000;
}

a {
    text-decoration: none;
}

.cabecera {
    width: 100%;
    padding: 20px;
    background: #0F1626;
    color: #FFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1;
}

.logo img {
    display: block;
    width: 85px;
    margin: 0 auto;
}

.seccion {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    position: relative;
}

.seccion .caja {
    width: 60%;
    padding: 20px;
    position: relative;
}

.subtitulo {
    width: 100%;
    padding: 20px;
    color: #FFF;
    background: #AB987A;
    border-radius: 6px;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.subtitulo i {
    margin-right: 10px;
}

.foto {
    border-radius: 100%;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.foto img {
    width: 100%;
}

.content {
    padding: 20px;
}

.seccion .caja2, .cajaImg{
    width: 40%;
    padding: 20px;
    position: relative;
}

.cajaImg {
    align-self: center;
}

.skills {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list-icon {
    list-style: none;
    padding: 0;
}

.list-icon li {
    display: flex;
    list-style: none;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    padding: 5px 0;
}

.list-icon li i {
    margin-right: 10px;
}

hr {
    border: 1px solid #26547C;
}

.proyecto {
    margin-bottom: 30px;
}

.proyecto h3, .skill h3 {
    color: #26547C;
    margin-left: 15px;
}

.proyecto h3 span{
    color: #000;
    text-decoration: none;
    font-size: 14px;
    font-weight: normal;
}

.proyecto a {
    color: #AB987A;
    margin-left: 15px;
}

.proyecto a:hover {
    text-decoration: underline;
}

.proyecto p {
    text-align: justify;
}

.proyecto h4 {
    color: #8B2635;
    margin-left: 15px;
}

.skill {
    width: 49%;
}

.barraBack {
    width: 100%;
}

.barraBack {
    background: #FFF;
    height: 25px;
    border-radius: 25px;
    margin: 0;
}

.barraColor {
    cursor: pointer;
    background: #1F7A8C;
    height: 25px;
    border-radius: 25px;
    text-align: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
    color: #1F7A8C;
    margin: 0;
}

.barraColor:hover {
    color: #FFF;
}

.w-80 { width: 80%; }
.w-90 { width: 90%; }
.w-95 { width: 95%; }
.w-85 { width: 85%; }
.w-75 { width: 75%; }

.formulario {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
}

.formulario .form-content {
    margin-bottom: 20px;
    width: 100%;
    font-size: 18px;
}

.formulario .form-content h4 {
    width: 100%;
    margin: 5px;
    color: #26547C;
    display: block;
}

.formulario .form-content input, .formulario .form-content textarea {
    width: 100%;
    display: block;
    border: none;
    font-size: 14px;
    border-radius: 12px;
    outline: none;
    padding: 2px;
}

.formulario .form-content input:focus, .formulario .form-content textarea:focus {
    border: 1px solid #26547C;
}

.formulario .form-content input {
    height: 30px;
}

.formulario .form-content textarea {
    height: 100px;
    max-width: 100%;
    min-width: 100%;
    min-height: 100px;
    max-height: 150px;
}

.formulario .btn {
    border: 1px solid #26547C;
    background: #FFF;
    color: #26547C;
    text-align: center;
    font-size: 1rem;
    padding: 10px 30px;
    margin: 0 auto;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
    width: 150px;
}

.formulario .btn:hover {
    border: 1px solid #26547C;
    background: #26547C;
    color: #FFF;
}

footer {
    width: 100%;
    padding: 30px 0;
    margin-top: 30px;
    background: #0F1626;
}

footer ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100%;
    height: 50px;
    list-style: none;
    padding: 0;
}

footer ul li{
    width: 45px;
    height: 45px;
    margin: 0 15px;
    text-decoration: none;
}

/* footer ul li:hover {
    width: 55px;
    height: 55px;
} */

footer ul li a img {
    width: 100%;
    vertical-align: middle;
}

footer ul li a img:hover {
    width: 125%;
    margin-left: -12.5%;
    margin-top: -12.5%;
}

.m-0 {
    margin: 0 !important;
}

.scrollMenu {
    position: absolute;
    top: -120px;
    visibility: hidden;
}